* {
    box-sizing: border-box;
}

/* ====================================================================
                               base styles
======================================================================*/

body {
    font-family: 'Merriweather', Garamond, serif;
    font-size: 16px;
}

h1,
h2,
h3,
button {
    font-size: 1.3em;
    font-weight: 900;
}

header,
footer {
    text-align: center;
}

fieldset {
    padding: 0;
}

fieldset,
button {
    border: none;
}

.contact-info input::placeholder {
    font-size: .875em;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* ====================================================================
                               theme styles
======================================================================*/

.main-header {
    background-color: #193c78;
}

.text-is-white {
    color: #fff;
}

.text-is-light,
.contact-info input::placeholder {
    color: #969696;
}

.form-header {
    border-bottom: solid 4px #193c78;
}

.contact-info {
    border-top: solid 2px #193c78;
    border-bottom: solid 2px #193c78;
}

.contact-info input,
select,
textarea {
    background-color: #f0f0f0;
    border: solid 2px #f0f0f0;
}

.contact-info input:focus,
select:focus,
textarea:focus {
    border-color: #193c78;
}

:focus {
    outline: none;
}

.contact-info input::placeholder,
footer {
    font-style: italic;
}

.contact-info input,
select,
textarea,
button {
    border-radius: 5px;
}

select option {
    color: #000;
}

button {
    background-color: #00b3b3;
}

button:active {
    background-color: #008080;
}

/* ====================================================================
                               layout styles
======================================================================*/

.main-header {
    padding: .5em;
}

.container {
    width: 92%;
    margin: auto;
}

.form-header {
    padding: .5em 0 1.25em;
}

.contact-info {
    margin-top: .1875em;
}

.contact-info label {
    margin-bottom: 1em;
}

.contact-info label,
.contact-info input,
select,
textarea,
button {
    width: 100%;
    display: inline-block;
}

.contact-info input::placeholder {
    text-align: right;
}

.contact-info input,
select,
textarea,
button {
    padding: 1em 1.3em;
}

#zip {
    width: 50%;
}

li {
    padding: .5em 0;
}

.newsletter input {
    margin-right: .5em;
}

textarea {
    height: 8em;
    margin-bottom: 1.5em;
    resize: none;
}

footer {
    padding: 1em;
    margin: 1em 0 12em;
}

/* ====================================================================
                               media queries
======================================================================*/

@media screen and (min-width: 768px) {
    .container {
        width: 60%;
    }
    body {
        font-size: .5em;
    }
    h2 {
        margin-top: 2.5em;
    }
    h3 {
        margin-top: 1.75em;
    }
    .contact-info label {
        width: 25%;
        margin-right: 1%;
    }
    .contact-info input,
    select,
    textarea,
    button {
        padding: .7em 1em;
    }
    .contact-info input,
    select {
        width: 72%;
    }
    #zip {
        width: 25%;
    }
    textarea {
        height: 6em;
    }
    footer {
        margin-bottom: 20em;
    }
}
/*==========================================================================================================================

i want to add these because of how bad it looks wider than 768px, but it isnt part of the project...........

@media screen and (min-width: 1024px) {
    .container {
        width: 40%;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 30%;
    }
} 
============================================================================================================================*/