* {
    box-sizing: border-box;
}

/* ====================================================================
                               base styles
======================================================================*/

body {
    font-family: 'Playfair Display', Garamond, serif;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-size: 1.5em;
}

header,
footer {
    text-align: center;
}

fieldset {
    padding: 0;
}

fieldset,
button {
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    font-size: 1.3em;
    font-weight: 700;
}



/* ====================================================================
                               theme styles
======================================================================*/

.main-header {
    background-color: #193c78;
}

.text-is-white {
    color: #fff;
}

.text-is-light,
.contact-info input::placeholder,
select {
    color: #969696;
}

.form-header {
    border-bottom: solid 4px #193c78;
}

.contact-info {
    border-top: solid 2px #193c78;
    border-bottom: solid 2px #193c78;
}

.contact-info input,
select,
textarea {
    background-color: #f0f0f0;
    border: none;
}

.contact-info input:focus,
select:focus,
textarea:focus,
button:focus {
    border: solid 2px #193c78;
    outline: none;
}

.contact-info input::placeholder {
    font-size: .875em;
}

.contact-info input::placeholder,
footer {
    font-style: italic;
}

.contact-info input,
select,
textarea,
button {
    border-radius: 5px;
}

select option {
    color: #000;
}

button {
    background-color: #00b3b3;
}

/* ====================================================================
                               layout styles
======================================================================*/

.container {
    width: 95%;
    margin: auto;
}

.main-header {
    padding: .5em;}

.form-header {
    padding: .5em 0 1.25em;
}

.contact-info {
    margin-top: .1875em;
}

label {
    display: inline-block;
}

.contact-info label {
    margin-bottom: .8em;
}

.contact-info input::placeholder {
    text-align: right;
}

.contact-info input,
select,
textarea {
    padding: .9em 1.25em;
}

.contact-info input,
select,
textarea,
button {
    width: 100%;
}

label[for="zip"] {
    display: block;
}

#zip {
    width: 50%;
}

.newsletter label {
    margin: 0 0 1em .75em;
}
textarea {
    height: 8em;
    margin-bottom: 2em;
    resize: none;
}

button {
    padding: 1.1em 0;
}

footer {
    margin: 2.5em 0 15em;
}

/* ====================================================================
                               media queries
======================================================================*/

@media screen and (min-width: 768px) {
    .container {
        width: 60%;
    }
    .form-header p,
    .contact-info label,
    .contact-info input::placeholder {
        font-size: .8em;
    }
    h2 {
        margin-top: 2.5em;
    }
    h3 {
        margin-top: 1.75em;
    }
    .contact-info label {
        width: 20%;
        margin-right: 4%;
    }
    .contact-info input,
    select {
        width: 75%;
    }
    label[for="zip"] {
        display: inline-block;
    }
    #zip {
        width: 25%;
    }
    footer {
        margin-bottom: 20em;
    }
}